.parent_container {
  width: 90%;
  /* background: red; */
  padding: 50px;
  min-height: 100vh;
}
.table_body {
  max-height: 50%;
  overflow-y: auto;
}

.show_Button_Container {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
